.DashboardTiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(126px, 1ft) 1fr;
  gap: 3.2rem 9.1rem;
  > * {
    flex-basis: 100%;
  }
  .DashboardTotal {
    display: flex;
    gap: 2rem;
    > * {
      flex-basis: 100%;
    }
  }
  .transaction {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    > * {
      height: 100%;
    }
  }
  .analytics {
    grid-row: 2 / 3;
    > * {
      height: 100%;
    }
  }
}
