.Menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 9.6rem;
  height: 100vh;
  height: 100dvh;
  background-color: #fff;
  border-radius: 0px 2rem 2rem 0px;
  padding: 3.4rem 1.3rem;
  text-align: center;
}
